@use '@styles/helpers/mixins' as *;
@use '@styles/helpers/functions' as *;
@use '@styles/helpers/media' as *;

.footer {
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;

  width: 100%;
  margin-top: rem(-40);
  padding: rem(56) var(--side-spacing) rem(72);

  clip-path: var(--clip-section);

  background-color: var(--c-greyish-blue-3);
  @include bg-icon('/img/footer_corner.svg');
  background-position: calc(50% + rem(700)) bottom;
  @include side-space-xl(rem($laptop));

  &::before {
    content: '';
    position: absolute;
    top: rem(88);
    right: calc(50% + rem(400));
    width: rem(320);
    height: rem(52);
    background-image: url('../../../public/img/footer_stripe.svg');
    filter: drop-shadow(var(--sh-black));
  }
}

.info {
  display: flex;
  gap: rem(32) rem(64);
  margin-inline: auto;

  a,
  span {
    display: block;
  }

  a,
  a:visited,
  a:focus {
    color: var(--c-blue-green-2);
  }

  @media (any-hover: hover) {
    a {
      transition: var(--transition-duration);

      &:hover {
        color: var(--c-whitish);
      }
    }
  }
}

// Media queries (except hover)

@media screen and (max-width: rem(1100)) {
  .footer {
    flex-direction: column;
    row-gap: rem(48);
  }
}

@media screen and (max-width: rem($tablet)) {
  .footer {
    &::before {
      top: unset;
      right: unset;
      bottom: 0;
      left: rem(-52);
    }
  }
}

@media screen and (max-width: rem($mobile-l)) {
  .info {
    flex-direction: column;
  }
}
