@use '@styles/helpers/mixins' as *;
@use '@styles/helpers/functions' as *;

.footer {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  justify-content: flex-end;
  column-gap: rem(96);

  width: 100%;
  margin-top: rem(-40);
  padding: rem(56) var(--side-spacing) rem(72);

  clip-path: polygon(
    0% 0%,
    calc(50% - rem(360)) 0,
    calc(50% - rem(360)) rem(40),
    calc(50% - rem(320)) 0,
    100% 0,
    100% 100%,
    0 100%
  );

  background-color: var(--c-greyish-blue-3);
  background-image: url('../../../public/img/footer_corner.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: calc(50% + rem(700));

  @include side-space-xl(rem(1280.98));

  &::before {
    content: '';
    position: absolute;
    top: rem(88);
    right: calc(50% + rem(400));
    width: rem(320);
    height: rem(52);
    background-image: url('../../../public/img/footer_stripe.svg');
    filter: drop-shadow(var(--sh-black));
  }
}

.info {
  display: flex;
  gap: rem(32) rem(64);

  a,
  span {
    display: block;
  }

  a,
  a:visited,
  a:focus {
    color: var(--c-blue-green-2);
  }

  @media (any-hover: hover) {
    a {
      transition: var(--transition-duration);

      &:hover {
        color: var(--c-whitish);
      }
    }
  }
}
