@mixin square($size) {
  width: $size;
  height: $size;
}

@mixin visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

@mixin no-select {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

// @mixin hide {
//   opacity: 0;
//   visibility: hidden;
// }

// @mixin show {
//   opacity: 1;
//   visibility: hidden;
// }

@mixin flex-al-center {
  display: flex;
  align-items: center;
}

@mixin abs-center {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% 50%;
}

@mixin abs-x-center {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin-inline: auto;
}

// @mixin bg-image-set($url, $bg-size) {
//   background-image: image-set(
//     url($url + '.avif') type('image/avif'),
//     url($url + '.jpg') type('image/jpeg')
//   );
//   background-repeat: no-repeat;
//   background-size: contain;
// }
