@mixin square($size) {
  width: $size;
  height: $size;
}

@mixin no-select {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

@mixin bg-image-set($url) {
  background-image: image-set(
    url($url + '.avif') type('image/avif'),
    url($url + '.jpg') type('image/jpeg')
  );
  background-repeat: no-repeat;
  background-size: cover;
}

@mixin bg-mask {
  mask-image: var(--mask-bg);
}

@mixin shaped-card {
  border-radius: var(--br-lg);
  clip-path: var(--clippath-card);
}

@mixin side-space-xl($br-point) {
  @media screen and (min-width: $br-point) {
    padding-inline: calc((100% - var(--view-max-w)) / 2 + var(--side-spacing));
  }
}

@mixin section-bg-gradient($main-color, $fade-color) {
  background: linear-gradient(
    90deg,
    $fade-color 0%,
    $main-color calc((100% - var(--view-max-w)) / 2),
    $main-color calc(((100% - var(--view-max-w)) / 2) + var(--view-max-w)),
    $fade-color 100%
  );
}
