@mixin square($size) {
  width: $size;
  height: $size;
}

@mixin no-select {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

// @mixin hide {
//   opacity: 0;
//   visibility: hidden;
// }

// @mixin show {
//   opacity: 1;
//   visibility: hidden;
// }

@mixin flex-al-center {
  display: flex;
  align-items: center;
}

@mixin abs-center {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% 50%;
}

@mixin abs-x-center {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin-inline: auto;
}

@mixin bg-image-set($url) {
  background-image: image-set(
    url($url + '.avif') type('image/avif'),
    url($url + '.jpg') type('image/jpeg')
  );
  background-repeat: no-repeat;
  background-size: cover;
}

@mixin bg-mask {
  mask-image: linear-gradient(
    90deg,
    var(--c-tr) 0%,
    var(--c-white) 5%,
    var(--c-white) 95%,
    var(--c-tr) 100%
  );
}

@mixin side-space-xl($br-point) {
  @media screen and (min-width: $br-point) {
    padding-inline: calc((100% - var(--view-max-w)) / 2 + var(--side-spacing));
  }
}

@mixin filter-shadow-blue {
  filter: drop-shadow(var(--sh-blue));
}

@mixin filter-shadow-black {
  filter: drop-shadow(var(--sh-black));
}

@mixin shaped-card {
  border-radius: var(--br-lg);
  clip-path: polygon(
    2rem 0%,
    100% 0,
    100% calc(100% - 2rem),
    calc(100% - 2rem) 100%,
    0 100%,
    0% 2rem
  );
}

@mixin section-bg-gradient($main-color, $fade-color) {
  background: linear-gradient(
    90deg,
    $fade-color 0%,
    $main-color calc((100% - var(--view-max-w)) / 2),
    $main-color calc(((100% - var(--view-max-w)) / 2) + var(--view-max-w)),
    $fade-color 100%
  );
}
