@use '@styles/helpers/mixins' as *;
@use '@styles/helpers/functions' as *;

.menu-details {
  overflow: hidden;

  &::details-content {
    height: 0;
    transition: all var(--transition-duration);
    transition-behavior: allow-discrete;
  }

  &[open]::details-content {
    height: auto;
    height: calc-size(auto, size);
  }

  &[open] .chevron {
    transform: rotate(-180deg);
  }
}

$paddings: rem(20) rem(24);

// Summary "group"
.group {
  cursor: pointer;
  list-style: none;

  width: 100%;
  padding: $paddings;
  border-top: rem(2) solid var(--c-blue-green-1);
  background: none;

  text-align: left;
  font-size: rem(16);
  color: var(--c-blue-green-5);

  &--current {
    color: var(--c-orange-dull);
  }
}

// Chevron icon - indicator
.chevron {
  margin-left: rem(8);
  transition: var(--transition-duration);
}

.link {
  position: relative;
  display: block;
  margin-inline: rem(24);
  padding: $paddings;
  border-top: rem(1) solid var(--c-blue-green-1);

  &,
  &:visited,
  &:focus {
    color: var(--c-blue-green-5);
  }

  &--current {
    background: var(--c-whitish-blue);
    &,
    &:visited,
    &:focus {
      font-weight: 500;
    }
  }
}
