@use '@styles/helpers/mixins' as *;
@use '@styles/helpers/functions' as *;

.section {
  position: relative;
  width: 100%;
  background: var(--c-greyish-blue-2);
  margin-bottom: rem(-40);

  &-body {
    width: 100%;
    max-width: var(--view-max-w);
    margin-inline: auto;
    padding: var(--navbar-h) var(--side-spacing) rem(140);

    @include bg-image-set('/img/homepage_bg_1');

    @media screen and (min-width: rem(1280.98)) {
      @include bg-mask;
    }
  }

  &-header {
    font-size: rem(36);
    line-height: 3.5rem;
    text-align: center;
  }
}

.banner {
  width: 100%;
  height: rem(840);

  .h2-wrap {
    margin-top: rem(148);
    overflow: hidden;

    &::after {
      content: '';
      display: block;
      position: relative;
      width: rem(548);
      height: rem(4);
      margin-top: rem(36);
      background: var(--c-orange-bright);
      animation: line-width 1.4s 0.9s forwards;
    }
  }

  &-header {
    text-align: left;
    text-transform: uppercase;

    span {
      display: block;
    }
    span:nth-child(1) {
      transform: translate3d(0, calc(300% + rem(36)), 0);
      animation: showTopText1 2.1s 0.2s forwards;
    }
    span:nth-child(2) {
      transform: translate3d(0, calc(200% + rem(36)), 0);
      animation: showTopText2 1.4s 0.9s forwards;
    }
    span:nth-child(3) {
      transform: translate3d(0, calc(100% + rem(36)), 0);
      animation: showTopText3 0.7s 1.6s forwards;
    }
  }

  @keyframes line-width {
    30%,
    50% {
      width: rem(428);
    }
    100% {
      width: rem(368);
    }
  }

  @keyframes showTopText1 {
    23%,
    33% {
      transform: translate3d(0, 200%, 0);
    }
    56%,
    66% {
      transform: translate3d(0, 100%, 0);
    }
    100% {
      transform: translate3d(0, 0, 0);
    }
  }
  @keyframes showTopText2 {
    30%,
    50% {
      transform: translate3d(0, 100%, 0);
    }
    100% {
      transform: translate3d(0, 0, 0);
    }
  }
  @keyframes showTopText3 {
    100% {
      transform: translate3d(0, 0, 0);
    }
  }

  $padding-top: rem(50);

  .profile-wrap {
    width: 100%;
    max-width: rem(550);
    padding-top: $padding-top;
    overflow: hidden;
  }

  &-profile {
    font-size: rem(24);
    font-weight: 300;
    line-height: var(--line-h);
    transform: translate3d(0, calc(-100% - $padding-top), 0);
    animation: showBottomText 0.8s 1.6s forwards;
  }

  @keyframes showBottomText {
    to {
      transform: translate3d(0, 0, 0);
    }
  }
}

.stripes {
  position: absolute;
  top: var(--navbar-h);
  left: calc(50% - rem(40));
}

.ejector-img {
  position: absolute;
  top: 50%;
  left: calc(50% + rem(72));
  translate: 0 calc(-50% + rem(2));
  filter: drop-shadow(0 10px 4px var(--c-black-tr25));
}

.light {
  padding: rem(48) var(--side-spacing) rem(140);
  color: var(--c-blue-green-5);
  background-color: var(--c-whitish);

  // ===> for desktop below 1280px
  // clip-path: polygon(
  //   0% 0%,
  //   22% 0,
  //   22% rem(40),
  //   calc(22% + rem(40)) 0,
  //   100% 0,
  //   100% 100%,
  //   0 100%
  // );

  // ===> for desktop higher 1280px
  clip-path: polygon(
    0% 0%,
    calc(50% - 360px) 0,
    calc(50% - 360px) 40px,
    calc(50% - 320px) 0,
    100% 0,
    100% 100%,
    0 100%
  );
}

@media screen and (min-width: rem(1280.98)) {
  .light {
    padding-inline: calc((100% - var(--view-max-w)) / 2 + var(--side-spacing));
  }
}
