@use '@styles/helpers/mixins' as *;
@use '@styles/helpers/functions' as *;

.section {
  width: 100%;
  background: var(--c-greyish-blue-2);
  margin-bottom: rem(-40);
  overflow-x: hidden;

  &-body {
    position: relative;
    width: 100%;
    max-width: var(--view-max-w);
    margin-inline: auto;
    padding: var(--navbar-h) var(--side-spacing) rem(140);

    @include bg-image-set('/img/homepage_bg_1');

    @media screen and (min-width: rem(1280.98)) {
      @include bg-mask;
    }
  }

  &-header {
    font-size: rem(36);
    line-height: 3.5rem;
  }
}

.stripes {
  position: absolute;
  top: var(--navbar-h);
  left: calc(50% - rem(40));
  z-index: 1;
}

.banner {
  width: 100%;
  height: rem(840);

  &-header {
    margin-top: rem(148);
    text-transform: uppercase;

    span {
      display: block;
    }

    &::after {
      content: '';
      display: block;
      width: rem(368);
      height: rem(4);
      margin-block: rem(36) rem(50);
      background: var(--c-orange-bright);
    }
  }

  &-profile {
    max-width: rem(550);
    font-size: rem(24);
    font-weight: 300;
    line-height: var(--line-h);
  }
}

// @keyframes showTopText {
//   0% { transform: translate3d(0, 100%, 0); }
//   40%, 60% { transform: translate3d(0, 50%, 0); }
//   100% { transform: translate3d(0, 0, 0); }
// }
// @keyframes showBottomText {
//   0% { transform: translate3d(0, -100%, 0); }
//   100% { transform: translate3d(0, 0, 0); }
// }

// .animated-title {
//   color: #222;
//   font-family: Roboto, Arial, sans-serif;
//   height: 90vmin;
//   left: 50%;
//   position: absolute;
//   top: 50%;
//   transform: translate(-50%, -50%);
//   width: 90vmin;
// }
// .animated-title > div {
//   height: 50%;
//   overflow: hidden;
//   position: absolute;
//   width: 100%;
// }
// .animated-title > div div {
//   font-size: 12vmin;
//   padding: 2vmin 0;
//   position: absolute;
// }
// .animated-title > div div span {
//   display: block;
// }
// .animated-title > div.text-top {
//   border-bottom: 1vmin solid #000;
//   top: 0;
// }
// .animated-title > div.text-top div {
//   animation: showTopText 1s;
//   animation-delay: 0.5s;
//   animation-fill-mode: forwards;
//   bottom: 0;
//   transform: translate(0, 100%);
// }
// .animated-title > div.text-top div span:first-child {
//   color: #767676;
// }
// .animated-title > div.text-bottom {
//   bottom: 0;
// }
// .animated-title > div.text-bottom div {
//   animation: showBottomText 0.5s;
//   animation-delay: 1.75s;
//   animation-fill-mode: forwards;
//   top: 0;
//   transform: translate(0, -100%);
// }
