@use '@styles/helpers/functions' as *;
@use '@styles/helpers/mixins' as *;
@use '@styles/helpers/media' as *;

.carousel {
  display: flex;
  animation: carousel 120s infinite linear;
  background-color: var(--c-whitish-blue);

  .logo-card {
    margin-right: rem(16);
    transition: var(--transition-duration);
    padding: rem(12);
    filter: grayscale(1);
    mix-blend-mode: multiply;
  }

  @keyframes carousel {
    from {
      transform: translate3d(0, 0, 0);
    }
    to {
      transform: translate3d(-100%, 0, 0);
    }
  }
}

@media (any-hover: hover) {
  .carousel .logo-card:hover {
    filter: grayscale(0);
    scale: 1.1;
    background-color: var(--c-white);
    box-shadow: var(--sh-black);
    border-radius: var(--br-lg);
    mix-blend-mode: normal;
  }
}

@media screen and (max-width: rem($mobile-l)) {
  .carousel .logo-card {
    @include square(rem(150));
  }
}

@media screen and (max-width: rem($mobile-m)) {
  .carousel .logo-card {
    padding: 0;
  }
}

@media screen and (max-width: rem($mobile-s)) {
  .carousel .logo-card {
    @include square(rem(120));
  }
}
