@use '@/styles/helpers/functions' as *;
@use '@/styles/helpers/mixins' as *;

.navbar,
.actions {
  @include flex-center;
}

.navbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin-inline: auto;
  padding-inline: var(--side-spacing);
  width: 100%;
  max-width: var(--view-max-w);

  justify-content: space-between;

  $border-thickness: 2px;
  $border-b: $border-thickness solid var(--c-greyish-blue-1-tr60);
  border-bottom: $border-b;

  @media screen and (width >= rem(1280.98)) {
    $navbar-side-space: calc(
      (100dvw - var(--view-max-w) - var(--scroll-w)) / 2
    );

    &:before,
    &:after {
      content: '';
      position: absolute;
      top: 0;
      border-bottom: $border-b;
      width: $navbar-side-space;
      height: calc(100% + $border-thickness);
    }

    &:before {
      right: 100%;
    }
    &:after {
      left: 100%;
    }
  }
}

.actions {
  column-gap: rem(64);

  .lang-switch {
    @media (any-hover: hover) {
      &:hover {
        background: var(--c-whitish-tr20);
        color: var(--c-orange-bright);
      }
    }
  }

  .login-btn {
    padding: rem(12) rem(20);
    border-radius: var(--br-sm);
    background: none;
    font-size: rem(16);
    text-transform: uppercase;
    color: var(--c-whitish);
    transition: all var(--transition-duration);

    @media (any-hover: hover) {
      &:hover {
        background: var(--c-whitish-tr20);
        color: var(--c-orange-bright);
      }
    }
  }
}
