@use '@/styles/helpers/functions' as *;
@use '@/styles/helpers/mixins' as *;

.menubar,
.menubar__item {
  @include flex-center;
}

.menubar {
  list-style: none;

  &__item {
    position: relative;
    height: rem(88);
    padding-inline: rem(16);
    margin-block: auto;
    column-gap: rem(8);

    &:after {
      content: '';
      position: absolute;
      height: rem(4);
      left: 0;
      bottom: 0;
      width: 0;
      background: var(--c-orange-bright);
      transition: width var(--transition-duration);
    }

    &:hover:after {
      width: 100%;
    }

    &:hover .dropdown {
      opacity: 1;
      pointer-events: all;
    }
  }
}

.chevron {
  margin-bottom: 1px;
}

.dropdown {
  opacity: 0;
  pointer-events: none;

  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  // min-width: fit-content;
  min-width: rem(160);
  padding-top: 2px;
  list-style: none;
  border-radius: 0 0 var(--br-sm) var(--br-sm);
  overflow: hidden;
  box-shadow: 0 rem(8) rem(12) 0 var(--c-black-tr25);
  transition: all var(--transition-duration);

  &__item {
    &:not(:last-of-type) {
      border-bottom: 1px solid var(--c-whitish-blue);
    }
  }

  &__link {
    display: block;
    padding: rem(16);
    background: var(--c-whitish);
    white-space: nowrap;
    transition: all var(--transition-duration);

    &,
    &:visited,
    &:focus {
      color: var(--c-blue-green-5);
    }

    &:not(.current):hover,
    &.current {
      background: var(--c-whitish-blue);
      font-weight: 500;
    }
  }
}
