@use '@styles/helpers/functions' as *;
@use '@styles/helpers/mixins' as *;
@use '@styles/helpers/media' as *;

$gap: rem(20);

.feedback__form-container {
  padding: $gap;
  background: var(--c-whitish-blue);
  @include shaped-card;
}

.feedback__form {
  max-width: rem(672);
  margin-inline: auto;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: auto;
  gap: $gap;
}

.input {
  padding: rem(14) rem(16);
  font-size: rem(16);
  color: var(--c-blue-green-5);
  border-radius: var(--br-sm);

  &::placeholder {
    color: var(--c-blue-green-2);
  }

  // &:focus {
  //   outline: 1px solid gray;
  //   outline-offset: rem(4);
  // }

  // &:valid {
  //   background-color: palegreen;
  // }

  &__msg {
    grid-column: span 2;
    resize: none;
    height: rem(120);
  }
}

.submit-btn {
  grid-column: span 2;
  margin-inline: auto;
}

@media screen and (max-width: rem($mobile-l)) {
  .feedback__form {
    grid-template-columns: 1fr;
  }

  .input__msg,
  .submit-btn {
    grid-column: span 1;
  }
}
