@use '@styles/helpers/mixins' as *;
@use '@styles/helpers/functions' as *;
@use '@styles/helpers/media' as *;

.diagram-slider {
  width: 100%;
  display: grid;
  grid-template-columns: 32px auto 32px;
  grid-template-rows: repeat(2, auto);
  gap: rem(20);
}

.slider-btn {
  margin-block: auto;
}

.slider-frame {
  overflow: hidden;
  width: 100%;
  border-radius: var(--br-lg);
  background: var(--c-white);
  box-shadow: var(--sh-black);
}

.slider {
  display: flex;
  transition: var(--transition-duration);
}

.bullets-wrapper {
  grid-column: span 3;
  margin-inline: auto;
  display: flex;
  column-gap: rem(20);

  .bullet-btn {
    @include square(rem(12));
    border-radius: 50%;
    background-color: var(--c-blue-green-2);
    transition: var(--transition-duration);

    &:hover {
      background-color: var(--c-blue-sea);
    }
  }

  .selected {
    background-color: var(--c-blue-sea);
  }
}

@media (any-hover: hover) {
  .bullets-wrapper .bullet-btn:hover {
    background-color: var(--c-blue-sea);
  }
}
