@use '@styles/helpers/mixins' as *;
@use '@styles/helpers/functions' as *;
@use '@styles/helpers/media' as *;

.diagram-slider {
  width: 100%;
  display: grid;
  grid-template-columns: 32px auto 32px;
  grid-template-rows: repeat(2, auto);
  gap: rem(20);
}

.slider-btn {
  margin-block: auto;
}

.slider-frame {
  position: relative;
  overflow: hidden;
  width: 100%;
  border-radius: var(--br-lg);
  background: var(--c-white);
  box-shadow: var(--sh-black);
}

.slider {
  display: flex;
  transition: var(--transition-duration);
  cursor: pointer;
}

.bullets-wrapper {
  grid-column: span 3;
  margin-inline: auto;
  display: flex;
  column-gap: rem(20);

  .bullet-btn {
    @include square(rem(12));
    border-radius: 50%;
    background-color: var(--c-blue-green-2);
    transition: var(--transition-duration);

    &:hover {
      background-color: var(--c-blue-sea);
    }
  }

  .selected {
    background-color: var(--c-blue-sea);
  }
}

// .zoom-btn {
//   position: absolute;
//   left: 0;
//   top: 0;
//   width: 100%;
//   height: 100%;
//   background: none;
//   background-image: url('/icons/zoom.svg');
//   background-repeat: no-repeat;
//   background-position: center 54%;
//   background-size: auto 40%;
// }
.slider-frame::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: none;
  background-image: url('/icons/zoom.svg');
  background-repeat: no-repeat;
  background-position: center 54%;
  background-size: auto 40%;
  pointer-events: none;
}

@media (any-hover: hover) {
  .bullets-wrapper .bullet-btn:hover {
    background-color: var(--c-blue-sea);
  }

  .slider-frame::after {
    opacity: 0;
    transition: var(--transition-duration);
  }
  .slider-frame:hover::after {
    opacity: 1;
  }
}
