@use '@styles/helpers/mixins' as *;
@use '@styles/helpers/functions' as *;
@use '@styles/helpers/media' as *;

.solutions {
  position: relative;
  width: 100%;
  padding-block: calc(var(--navbar-h) + rem(56)) rem(140);

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin-inline: auto;
    width: min(100%, var(--view-max-w));
    height: 100%;
    background-image: image-set(
      url('/img/solutions_bg.avif') type('image/avif'),
      url('/img/solutions_bg.jpg') type('image/jpeg')
    );
    background-repeat: repeat-y;
    background-size: 100% auto;

    @media screen and (min-width: rem($laptop)) {
      @include bg-mask;
    }
  }

  &__header {
    position: relative;
    font-size: rem(36);
    text-align: center;
    margin-bottom: rem(56);
  }
}

.details {
  width: 100%;
  padding-top: rem(10);
  overflow: hidden;

  &:not(:last-of-type) {
    margin-bottom: rem(10);
  }
}

.details::details-content {
  height: 0;
  margin-top: rem(20);
  transition: all 0.5s;
  transition-behavior: allow-discrete;
}

.details[open]::details-content {
  margin-block: rem(50) rem(30);
  height: auto;
  height: calc-size(auto, size);
}

.details[open] > .summary {
  color: var(--c-blue-green-5);

  &::before {
    background: var(--c-whitish-blue-tr80);
  }

  .text-wrapper {
    p strong {
      color: var(--c-blue-green-5);
    }

    .flag {
      width: rem(264);
      background-position: 0;
      background-color: #0000;
      color: var(--c-whitish);

      &.ru::before {
        content: 'Cвернуть';
      }
      &.en::before {
        content: 'Minimize';
      }

      &::after {
        transform: rotate(-180deg);
      }
    }
  }
}

.summary {
  cursor: pointer;
  list-style: none;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  gap: rem(10) rem(80);
  padding-inline: var(--side-spacing);
  max-width: var(--view-max-w);
  margin-inline: auto;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--c-black-tr40);
    transition: var(--transition-duration);

    @media screen and (min-width: rem($laptop)) {
      @include bg-mask;
    }
  }

  .img-card,
  .text-wrapper {
    margin-inline: auto;
  }

  .img-card {
    filter: drop-shadow(var(--sh-black-dark));

    img {
      @include shaped-card;
      background: var(--c-whitish);
      margin-block: rem(-10);
    }
  }

  .text-wrapper {
    position: relative;
    width: 100%;
    max-width: rem(860);
    padding-block: rem(24) rem(20);

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    p {
      font-size: rem(20);
      line-height: var(--line-h-s);

      strong {
        color: var(--c-orange-bright);
        font-weight: 500;
      }
    }

    .flag {
      margin-left: auto;
      width: rem(182);
      height: rem(36);
      padding: rem(10) 0 rem(10) rem(40);
      color: var(--c-blue-green-1);
      clip-path: polygon(2.25rem 0, 100% 0, calc(100% - 2.25rem) 100%, 0 100%);
      background-color: var(--c-greyish-blue-1-tr40);
      background-image: url('/img/solutions_stripe.svg');
      background-size: cover;
      background-repeat: no-repeat;
      background-position: rem(264);
      transition: var(--transition-duration);

      &.ru::before {
        content: 'Подробнее';
      }
      &.en::before {
        content: 'Learn more';
      }

      &::after {
        content: '';
        display: inline-block;
        width: rem(14);
        height: rem(8);
        margin: 0 0 rem(1) rem(8);
        @include bg-icon('/icons/chevron.svg');
        transition: var(--transition-duration);
      }
    }
  }

  @media (any-hover: hover) {
    &:hover {
      .text-wrapper .flag {
        width: rem(264);
        color: var(--c-whitish);
        background-color: #0000;
        background-position: 0;
      }
    }
  }
}

.testing {
  position: relative;
}

.prefooter {
  position: relative;
  width: 100%;
  height: rem(50);
  background-color: var(--c-whitish);
}

@media screen and (min-width: rem($desktop-xl)) {
  .solutions {
    @include section-bg-gradient(#2c323e, #272d37);
  }
}

@media screen and (min-width: rem($laptop)) {
  .solutions {
    background-color: #2c323e;
  }
}
