@use '@styles/helpers/mixins' as *;
@use '@styles/helpers/functions' as *;
@use '@styles/helpers/media' as *;

.unit {
  font-size: rem(20);
  line-height: var(--line-h-s);

  .header-wrapper {
    display: flex;
    align-items: center;
    gap: rem(32) rem(52);
    margin-bottom: rem(56);
  }

  &__header {
    margin-inline: auto;
    font-size: rem(36);
    text-align: center;
  }
}

.subheader {
  font-weight: 500;
  font-size: rem(20);
  margin-block: rem(32) rem(20);
  text-wrap: balance;
}

.paragraph {
  &:first-of-type {
    margin-bottom: rem(52);
  }
  strong {
    font-weight: 500;
  }
  .extra {
    display: block;
    margin-top: rem(10);
  }
}

.part {
  display: block;

  &:not(:last-of-type) {
    margin-bottom: rem(10);
  }
}

.feat-list li {
  position: relative;
  padding-left: rem(40);

  &:not(:last-of-type) {
    margin-bottom: rem(10);
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    @include bg-icon('/icons/arrow_orange.svg');
    width: rem(20);
    height: rem(19);
    margin-top: rem(2);
  }
}

.ending {
  text-align: center;
  line-height: var(--line-h-m);

  &::before {
    content: '';
    display: block;
    width: 100%;
    max-width: rem(900);
    height: rem(4);
    margin: rem(52) auto;
    background: var(--c-blue-green-1);
  }

  a,
  a:visited,
  a:focus {
    color: var(--c-blue-green-5);
    font-weight: 500;
  }
}

@media screen and (max-width: rem(672)) {
  .unit {
    .header-wrapper {
      gap: rem(32) rem(36);
      margin-bottom: rem(36);
    }

    &__header {
      font-size: rem(26);
      line-height: rem(32);
      text-wrap: balance;
    }
  }
}

@media screen and (max-width: rem($mobile-m)) {
  .unit {
    font-size: rem(16);
    line-height: var(--line-h-m);

    &__logo {
      width: rem(96);
      height: auto;
    }
  }

  .subheader {
    font-size: rem(16);
    margin-block: rem(26) rem(16);
  }

  .paragraph {
    &:first-of-type {
      margin-bottom: rem(32);
    }
  }

  .feat-list li {
    padding-left: rem(24);

    &::before {
      @include square(rem(16));
    }
  }

  .ending {
    &::before {
      height: rem(2);
      margin: rem(40) auto;
    }
  }
}

@media screen and (max-width: rem($mobile-s)) {
  .unit {
    font-size: rem(14);

    .header-wrapper {
      flex-wrap: wrap;
      justify-content: center;
      gap: rem(16) rem(52);
      margin-bottom: rem(26);
    }
  }
}
