html {
  scroll-behavior: smooth;
  scrollbar-gutter: stable;
}

body {
  background: var(--c-greyish-blue-2);
  color: var(--c-whitish);

  &::-webkit-scrollbar {
    width: var(--scroll-w);

    &-track {
      background: none;
    }

    &-thumb {
      background: var(--c-blue-green-3);
      border-radius: var(--br-sm);

      &:hover {
        background: var(--c-blue-sea);
      }
    }
  }
}

main {
  overflow-x: hidden;
}

.scrollbar--hidden {
  overflow: hidden;

  &::-webkit-scrollbar {
    width: 0;
  }
}

a,
a:visited,
a:focus {
  color: var(--c-whitish);
}

ul {
  list-style: none;
}

.sr-only {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}
