:root {
  // colors
  --c-black-tr40: #00000066;
  --c-black-tr25: #00000040;
  --c-tr: #0000;

  --c-white: #fff;
  --c-whitish: #f9f9fa;
  --c-whitish-tr20: #f9f9fa33;
  --c-whitish-tr40: #f9f9fa66;

  --c-whitish-blue: #e5e8e9;
  --c-whitish-blue-tr80: #e5e8e9cc;

  --c-greyish-blue-1: #56657d;
  --c-greyish-blue-1-tr20: #56657d33;
  --c-greyish-blue-1-tr40: #56657d66;
  --c-greyish-blue-1-tr60: #56657d99;
  --c-greyish-blue-2: #3e4654;
  --c-greyish-blue-3: #2e383f;
  --c-orange-bright: #f9a828;
  --c-orange-bright-tr40: #f9a82866;
  --c-orange-dull: #dea149;
  --c-orange-persian: #da8956;
  --c-blue-green-1: #c6d1d7;
  --c-blue-green-2: #94adb9;
  --c-blue-green-3: #497285;
  --c-blue-green-3-tr50: #49728580;
  --c-blue-green-4: #385664;
  --c-blue-green-5: #2b4450;
  --c-blue-sea: #165f76;

  // sizes
  --br-lg: 1rem;
  --br-sm: 0.375rem;
  --input-h: 2.875rem;
  --line-h: 1.25;

  --view-max-w: 80rem;

  --navbar-h: 5.625rem;
  --side-spacing: 4.6875rem;
  --scroll-w: 0.625rem;

  // --mobile-navbar-height: 50px;
  // --mobile-side-spacing: 36px;

  // effects
  --transition-duration: 0.2s;

  // clip paths
  // --section-clippath-desktop-xl: polygon(
  //   0% 0%,
  //   calc(50% - 360px) 0,
  //   calc(50% - 360px) 40px,
  //   calc(50% - 320px) 0,
  //   100% 0,
  //   100% 100%,
  //   0 100%
  // );
  // --section-clippath-desktop: polygon(
  //   0% 0%,
  //   22% 0,
  //   22% 40px,
  //   calc(22% + 40px) 0,
  //   100% 0,
  //   100% 100%,
  //   0 100%
  // );
  // --section-clippath-mobile: polygon(
  //   0% 0%,
  //   0 0,
  //   0 40px,
  //   40px 0,
  //   100% 0,
  //   100% 100%,
  //   0 100%
  // );
  // --img-clippath: polygon(
  //   30px 0%,
  //   100% 0,
  //   100% calc(100% - 30px),
  //   calc(100% - 30px) 100%,
  //   0 100%,
  //   0% 30px
  // );
}
