:root {
  // background colors
  --color-bg-default: #3e4654;
  --color-bg-white: #f9f9fa;
  --color-bg-greyishblue: #e5e8e9;
  // main colors
  --color-text-light: #f9f9fa;
  --color-text-dark: #2b4450;
  --color-text-placeholder: #94adb9;
  --color-orange-bright: #f9a828;
  --color-orange-faded: #dea149;
  --color-orange-reddish: #da8956;
  --color-accent-1: #497285;
  --color-accent-2: #385664;
  --color-accent-3: #165f76;
  --color-accent-4: #c6d1d7;
  --color-footer: #2e383f;
  // transparent colors
  --color-tr20-white: rgba(249, 249, 250, 0.2);
  --color-tr40-white: rgba(249, 249, 250, 0.4);
  --color-tr40-orange: rgba(249, 168, 40, 0.4);
  --color-tr20-greyblue: rgba(86, 101, 125, 0.2);
  --color-tr40-greyblue: rgba(86, 101, 125, 0.4);
  --color-tr60-greyblue: rgba(86, 101, 125, 0.6);
  --color-tr80-greyishblue: rgba(229, 232, 233, 0.8);
  --color-tr40-black: rgba(0, 0, 0, 0.4);
  --color-shadow: rgba(0, 0, 0, 0.25);
  // fonts
  --font-family-base: 'Roboto', Arial, Helvetica, Verdana, sans-serif;
  --font-family-header: 'montserrat', Arial, Helvetica, Verdana, sans-serif;
  --font-family-logo-main: 'bankgothic', Arial, Helvetica, Verdana, sans-serif;
  --font-family-logo-sub: 'micradi', Arial, Helvetica, Verdana, sans-serif;
  --font-family-date: 'hatten', Arial, Helvetica, Verdana, sans-serif;
  // for components
  --border-radius-large: 15px;
  --border-radius-small: 5px;
  --input-height: 46px;
  --line-h: 1.25;
  // for pages
  --desktop-navbar-height: 90px;
  --desktop-side-spacing: 75px;
  --desktop-max-width: 1280px;
  --mobile-navbar-height: 44px;
  --mobile-side-spacing: 36px;

  // for effects
  --transition-duration: 0.2s;
  // clippaths
  --section-clippath-desktop-xl: polygon(
    0% 0%,
    calc(50% - 360px) 0,
    calc(50% - 360px) 40px,
    calc(50% - 320px) 0,
    100% 0,
    100% 100%,
    0 100%
  );
  --section-clippath-desktop: polygon(
    0% 0%,
    22% 0,
    22% 40px,
    calc(22% + 40px) 0,
    100% 0,
    100% 100%,
    0 100%
  );
  --section-clippath-mobile: polygon(
    0% 0%,
    0 0,
    0 40px,
    40px 0,
    100% 0,
    100% 100%,
    0 100%
  );
  --img-clippath: polygon(
    30px 0%,
    100% 0,
    100% calc(100% - 30px),
    calc(100% - 30px) 100%,
    0 100%,
    0% 30px
  );
}
