@use '@styles/helpers/mixins' as *;
@use '@styles/helpers/functions' as *;
@use '@styles/helpers/media' as *;

// Common style
.section {
  position: relative;
  width: 100%;

  &__header {
    font-size: rem(36);
    text-align: center;
    margin-bottom: rem(56);
  }
}

// Dark section
.section--dark {
  margin-bottom: rem(-40);

  &__body {
    width: 100%;
    max-width: var(--view-max-w);
    margin-inline: auto;

    @media screen and (min-width: rem($laptop)) {
      @include bg-mask;
    }
  }
}

.middle {
  padding-block: rem(88) rem(140);
}

.top {
  padding-block: calc(var(--navbar-h) + rem(56)) rem(140);
}

// addintion for first homepage section
.intro {
  padding-block: var(--navbar-h) rem(140);
}

.striped-bg {
  height: 100%;
  width: auto;
  position: absolute;
  top: var(--navbar-h);
  left: calc(50% - rem(40));
}

.ejector-img {
  position: absolute;
  top: 50%;
  left: calc(50% + rem(72));
  translate: 0 calc(-50% + rem(2));
  filter: drop-shadow(0 rem(12) rem(4) var(--c-black-tr25));
}

// Light section
.section--light {
  padding: rem(56) var(--side-spacing) rem(140);
  color: var(--c-blue-green-5);
  background-color: var(--c-whitish);
  clip-path: var(--clip-section);

  @include side-space-xl(rem($laptop));
}

// Subsection (html article)
.subsection {
  padding-bottom: rem(75);
}

// Media queries

@media screen and (max-width: rem(1040)) {
  .ejector-img {
    width: 50%;
    height: auto;
  }
}

@media screen and (max-width: rem(960)) {
  .ejector-img {
    display: none;
  }
}

@media screen and (max-width: rem(672)) {
  .section {
    &__header {
      font-size: rem(26);
      line-height: rem(32);
      margin-bottom: rem(40);
      text-wrap: balance;
    }
  }

  .middle {
    padding-block: rem(64) rem(100);
  }

  .section--light {
    padding-block: rem(42) rem(80);
  }
}
