@use '@styles/helpers/mixins' as *;
@use '@styles/helpers/functions' as *;
@use '@styles/helpers/media' as *;

.section {
  position: relative;
  width: 100%;

  &__header {
    font-size: rem(36);
    text-align: center;
    margin-bottom: rem(56);
  }
}

.section--dark {
  margin-bottom: rem(-40);

  &__body {
    width: 100%;
    max-width: var(--view-max-w);
    margin-inline: auto;

    @media screen and (min-width: rem($laptop)) {
      @include bg-mask;
    }
  }
}

.middle {
  padding-block: rem(88) rem(140);
}

.top {
  padding-block: calc(var(--navbar-h) + rem(56)) rem(140);
}

.intro {
  padding-block: var(--navbar-h) rem(140);
}

.section--light {
  padding: rem(56) var(--side-spacing) rem(140);
  color: var(--c-blue-green-5);
  background-color: var(--c-whitish);

  // ===> for desktop below 1280px
  // clip-path: polygon(
  //   0% 0%,
  //   22% 0,
  //   22% rem(40),
  //   calc(22% + rem(40)) 0,
  //   100% 0,
  //   100% 100%,
  //   0 100%
  // );

  // ===> for desktop higher 1280px
  clip-path: polygon(
    0% 0%,
    calc(50% - rem(360)) 0,
    calc(50% - rem(360)) rem(40),
    calc(50% - rem(320)) 0,
    100% 0,
    100% 100%,
    0 100%
  );

  @include side-space-xl(rem(1280.98));
}

.striped-bg {
  height: 100%;
  position: absolute;
  top: var(--navbar-h);
  left: calc(50% - rem(40));
}

.ejector-img {
  position: absolute;
  top: 50%;
  left: calc(50% + rem(72));
  translate: 0 calc(-50% + rem(2));
  filter: drop-shadow(0 rem(12) rem(4) var(--c-black-tr25));
}
