@use '@/styles/helpers/functions' as *;

.switch-btn {
  width: rem(44);
  height: rem(40);
  border-radius: var(--br-sm);
  background: none;
  font-size: rem(18);
  text-transform: uppercase;
  color: var(--c-whitish);
  transition: all var(--transition-duration);
}

.active {
  font-size: rem(16);
  color: var(--c-whitish-tr40);

  @media (any-hover: hover) {
    &:hover {
      background: var(--c-whitish-tr20);
      font-size: rem(18);
      color: var(--c-whitish);
    }
  }
}
