@use '@styles/helpers/functions' as *;
@use '@styles/helpers/mixins' as *;
@use '@styles/helpers/media' as *;

.navbar {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;

  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: rem(22);
  width: 100%;
  padding-inline: var(--side-spacing);

  $border-thickness: rem(2);
  $border-b: $border-thickness solid var(--c-greyish-blue-1-tr60);
  border-bottom: $border-b;

  @include side-space-xl(rem($laptop));
}

.logo {
  width: rem(265);
  height: rem(32);
}

@media screen and (max-width: rem(1159.98)) {
  .navbar {
    flex-wrap: wrap;
    order: 1;
    margin-top: rem(12);

    & > nav {
      order: 3;
      margin-inline: auto;
    }
  }
}

@media screen and (max-width: rem($tablet)) {
  .navbar {
    margin-top: 0;
  }

  .logo {
    height: rem(24);
    width: auto;
  }
}
