@use '@styles/helpers/mixins' as *;
@use '@styles/helpers/functions' as *;
@use '@styles/helpers/media' as *;

.uc {
  position: relative;
  width: 100%;
  margin-top: var(--navbar-h);
}

.uc__body {
  width: 100%;
  max-width: var(--view-max-w);
  margin-inline: auto;
  padding-block: rem(50) rem(96);
  background-color: #476274;
  background-image: radial-gradient(closest-side, #aadceb 0%, #0000 100%);
  background-size: rem(480) rem(480);
  background-position: center rem(32);
  background-repeat: no-repeat;

  @media screen and (min-width: rem($laptop)) {
    @include bg-mask;
  }
}

.uc__img {
  display: block;
  margin-inline: auto;
  filter: drop-shadow(var(--sh-black-dark));
}

.crossed-lines {
  margin-block: -12.5% -8.75%;
  width: 100%;
  height: auto;
}

.uc__header {
  font-size: rem(36);
  margin-bottom: rem(20);
  color: var(--c-orange-dull);
}

.uc__text {
  font-size: rem(26);
  font-weight: 300;
  line-height: var(--line-h-s);
}

.uc__header,
.uc__text {
  text-align: center;
  text-wrap: balance;
  padding-inline: var(--side-spacing);
}

.uc-prefooter {
  height: rem(70);
  background-color: var(--c-whitish);
  background-image: url('/img/danger_stripe_long.svg');
  background-repeat: repeat-x;
}

@media screen and (min-width: rem($desktop-xl)) {
  .uc {
    @include section-bg-gradient(#375467, var(--c-blue-green-5));
  }
}

@media screen and (min-width: rem($laptop)) {
  .uc {
    background-color: #375467;
  }
}

@media screen and (max-width: rem($tablet)) {
  .crossed-lines {
    margin-bottom: -6.25%;
  }
}

@media screen and (max-width: rem($mobile-l)) {
  .uc__header {
    font-size: rem(24);
    margin-bottom: rem(10);
  }

  .uc__body {
    padding-bottom: rem(64);
  }

  .uc__text {
    font-size: rem(20);
  }
}

@media screen and (max-width: rem($mobile-m)) {
  .crossed-lines {
    margin-bottom: -4%;
  }
}

@media screen and (max-width: rem($mobile-s)) {
  .uc__body {
    padding-block: rem(32) rem(48);
    background-position: center rem(16);
  }

  .crossed-lines {
    margin-bottom: 0;
  }

  .uc__header {
    font-size: rem(20);
    margin-bottom: rem(10);
  }

  .uc__text {
    font-size: rem(16);
  }
}
